<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>English Dictionary Admin</title>
    <th:block th:replace="~{layout :: link-css}"></th:block>
</head>
<body>
<th:block th:replace="~{layout :: header}"></th:block>


<div class="container text-center">
    <h2 class="text-center text-primary fs-6">List Gender</h2>
    <br>
    <table class="table table-primary w-100 fs-6">
        <thead>
        <tr>
            <th scope="col" class="text-start">ID</th>
            <th scope="col" class="text-start">Gender name</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="gender,i: ${genders}">
            <td th:text="${gender.getKey()}" class="text-start"></td>
            <td th:text="${gender.getValue()}" class="text-start"></td>
            <td>
                <button th:id="'btn-'+${gender.getKey()}" type="button" class="btn btn-outline-warning"
                        data-bs-toggle="modal" th:data-bs-target="'#exampleModal-'+${gender.getKey()}">
                    Edit
                </button>
                <span>||</span>
                <button type="button" class="btn btn-outline-danger">
                    <a th:href="@{/user/gender/delete/{id}(id=${gender.getKey()})}"
                       class="text-decoration-none">Delete</a>
                </button>
            </td>
            <th:block th:data-block-gender="'btn-'+${gender.getKey()}"
                      th:replace="~{fragments/editGender :: edit-gender(${gender.getKey()})}"></th:block>
        </tr>
        </tbody>
    </table>
</div>

<th:block th:replace="~{layout :: footer}"></th:block>
<th:block th:replace="~{layout :: script-js}"></th:block>
</body>
</html>