<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>
    <meta charset="utf-8"/>
    <link th:fragment="link-css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link th:fragment="link-css" rel="stylesheet" th:href="@{/bootstrap-icons/bootstrap-icons.css}">
    <title>English Dictionary Admin</title>
</head>
<body>

<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">English Dictionary Admin</a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" onclick="return window.location.href = '/';">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div th:insert="~{::${content}}">

</div>
<footer th:fragment="footer">
    <script th:fragment="script-js" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</footer>
</body>
</html>
